.container {
    max-width: 400px;
    width: 90%;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    color: #333;
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-color: #007bff;
}

.button {
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginButton {
    background-color: #007bff;
}

.loginButton:hover {
    background-color: #0362c7;
    transform: translateY(-3px);
}

.registerButton {
    background-color: #6c757d;
}

.registerButton:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

.error {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}

.buttonsWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

/* Responsive style */
@media (max-width: 500px) {
    h2 {
        font-size: 1.35rem;
    }

    .input {
        font-size: 0.95rem;
    }

    .button {
        width: 100%;
    }

    .buttonsWrapper {
        flex-direction: column;
    }
}