.container {
  max-width: 400px;
  width: 90%;
  margin: 100px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin:  10px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 0.90rem;
    background-color: #007bff;
  }

  .button:hover{
    background-color: #0362c7;
    transform: scale(1.03);
  }
  
  .message {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: green;
  }